page-add-note {
    ion-content {
        background: url(../assets/imgs/bg-3.jpeg) no-repeat center fixed;
        background-size: cover;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(to bottom right #0276FD, #003F87);
            opacity: .6;
        }
    }
    .note-date {
        font-size: 0.8em;
        color: #888;
        margin-bottom: 12px;
    }

}
