page-home {
   ion-content {
       background: url(../assets/imgs/bg4.jpg) no-repeat center fixed;
       background-size: cover;
       &:before {
           content: '';
           position: absolute;
           top: 0;
           right: 0;
           bottom: 0;
           left: 0;
        //    background-image: linear-gradient(to bottom right, #37FDFC, #008080);
           opacity: .3;
       }
   }

   .date {
       font-weight: bold;
       color: #ffffff;
       padding-right: 24px;
       font-size: 0.8em;
   }
   
}
